##################################
# AIRFLOW
##################################

AIRFLOW_UID=50000

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

##################################
# AIRFLOW METADATA DATABASE
##################################

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

##################################
# DATA WAREHOUSE DATABASE
##################################

DW_DB_USER=warehouse
DW_DB_PASSWORD=warehouse
DW_DB_NAME=datamart

##################################
# POSTGRES
##################################

POSTGRES_PORT=5433

##################################
# AIRFLOW
##################################

AIRFLOW_PORT=8080